<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify's Playlist Objective Evaluator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
    <h1>Welcome to your Spotify's Playlist Objective Evaluation</h1>
        <div class="card">
          <p><%= locals.result %></p>
        </div>
            
        <div class = "submission">
        <form id="textbox" method="post">
            <label for="idInput">Enter your playlist's URL</label>
            <input type="text" id="idURL" name="url">
            <input id="submit-button" type="submit" value="SUBMIT" formaction="/submit">
        </div>
      
</body>
</html>